/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: #dead5f;
    --primary-color: #312e2e;
    --background-color: #0C1844;
}



/* Navigation styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Add this to align logo and nav items */
    padding: 1rem;
    background-color:#4F200D;
}


.nav-items {
    display: flex;
    list-style: none;
}

.nav-items li {
    margin: 0 15px;
}

.nav-items a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.nav-items a:hover {
    border-bottom: 2px solid var(--main-color);
}

/* Utility styles */
button {
    padding: 10px 30px;
    background-color: var(--main-color);
    cursor: pointer;
    border-radius: 8px;
    border: none;
    color: var(--primary-color);
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #f2aa4c;
}

/* Header styles */
.container {
    background-color: #FFF5E1;
    text-align: center;
    padding: 50px;
}

.main-heading {
    color: var(--main-color);
    font-size: 3rem;
    margin-bottom: 20px;
}

.primary-heading {
    color: var(--main-color);
    font-size: 2rem;
    margin-bottom: 1rem;
}

/* footer start */
.footer {
    background-color: #4F200D; 
    color: #F6F1E9; 
    padding: 40px 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-about, .footer-links, .footer-contact {
    flex-basis: 30%; /* Adjust as necessary for responsiveness */
    margin-bottom: 20px;
}

.footer-about h3, .footer-links h4, .footer-contact h4 {
    color: #FFD93D;
    margin-bottom: 15px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 10px;
}

.footer-links ul li a {
    color: #FFD93D;
    text-decoration: none;
}

.footer-links ul li a:hover {
    text-decoration: underline;
}

.footer-contact p {
    margin: 5px 0;
}

.footer-bottom {
    text-align: center;
    margin-top: 30px;
    border-top: 1px solid #FFD93D;
    padding-top: 10px;
}

.footer-bottom p {
    margin: 0;
    font-size: 14px;
    color: #FFD93D;
}

@media (max-width: 768px) {
    .footer-about, .footer-links, .footer-contact {
        flex-basis: 100%;
        text-align: center;
    }
}

/* footer end */

/* Responsive Design */
@media (max-width: 768px) {
    .nav-items {
        flex-direction: column;
        align-items: center;
    }

    .container {
        padding: 20px;
    }

    .main-heading {
        font-size: 2rem;
    }
}
