/*Basic reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(204, 204, 218);
    font-family: Arial, Helvetica, sans-serif;
}
nav ul li{
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
    
}   

nav{
    background-color: #fdf7f7;
    text-align:right;
}
